<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="34488AvnishKumar.DoesLLMFit"
    Publisher="CN=1494B4FB-4349-4083-8AFA-16D2A64B8D99"
    Version="1.1.0.0" />

  <Properties>
    <DisplayName>Does LLM Fit</DisplayName>
    <PublisherDisplayName>Avnish Kumar</PublisherDisplayName>
    <Logo>Assets\logoStoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Does LLM Fit"
        Description="DoesLLMFit powered by Uno Platform."
        BackgroundColor="#0D1117"
        Square150x150Logo="Assets\logoMediumTile.png"
        Square44x44Logo="Assets\logoLogo.png">
        <uap:DefaultTile
          ShortName="DoesLLMFit"
          Wide310x150Logo="Assets\logoWideTile.png"
          Square71x71Logo="Assets\logoSmallTile.png"
          Square310x310Logo="Assets\logoLargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Splash\logo_splash.png" BackgroundColor="#0D1117" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
