<?xml version="1.0" encoding="utf-8"?>
<!--
MSIX publish profile for WinAppSDK.
Usage: dotnet publish -f net9.0-windows10.0.26100 -c Release -p:Platform=x64 -p:PublishProfile=win-msix-x64
Then run: Publish-MsixUpload.ps1 to create .msixupload from the output.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<PublishProtocol>FileSystem</PublishProtocol>
		<Platform>x64</Platform>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<PublishDir>bin\Release\$(TargetFramework)\$(RuntimeIdentifier)\publish\</PublishDir>
		<SelfContained>false</SelfContained>
		<PublishSingleFile>False</PublishSingleFile>
		<PublishReadyToRun>False</PublishReadyToRun>
		<PublishTrimmed>False</PublishTrimmed>
		<WindowsPackageType>MSIX</WindowsPackageType>
		<GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
		<AppxPackageSigningEnabled>true</AppxPackageSigningEnabled>
		<PackageCertificateThumbprint>2E4D63D156D5F72C9A9D3F13394E7C9A1DE65455</PackageCertificateThumbprint>
		<AppxBundle>Never</AppxBundle>
	</PropertyGroup>
</Project>
